{% extends 'base.html' %}
{% load static %}
{% block body %}
	<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">{{movie}}</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img src="{{movie.image.url}}" alt="">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									<div class="card__wrap">
										<span class="card__rate"><i class="icon ion-ios-star"></i>{{average_rating}}</span>

										<ul class="card__list">
											<li>HD</li>
											<li>18+</li>
										</ul>
									</div>

									<ul class="card__meta">
										<li><span>Genre:</span> <a href="#">{{movie.genre}}</a>
										<li><span>Category:</span> <a href="#">{{movie.category}}</a>
										<li><span>Release year:</span> {{movie.year}}.</li>
										<li><span>Running time:</span> 120 min</li>
										<li><span>Country:</span> <a href="#">{{movie.country}}</a> </li>
										<li><span>Language:</span> {{movie.language}}</li>
										<li><span>Subtitle:</span> {{movie.subtitles}}</li><br/>
										<li><span>Crew:</span> {{movie.crew}}</li><br/>
										<li><span>Director:</span>{{movie.director}}</li>
										<li><span>Producer:</span>{{movie.producer}}</li>
									</ul>
									<div class="card__description card__description--details">
									{{movie.description}}
									</div>
									<p><a href="{{movie.download_link}}" target="_blank" class="section__btn" id="download_btn">Download</a></p>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->
				

				<!-- player -->
				<div class="col-12 col-xl-6">
					<video controls crossorigin playsinline poster="{{movie.image.url}}" id="player">
						<!-- Video files -->
						<source src="{{movie.download_link}}" type="video/mp4" size="576">
						<source src="{{movie.download_link}}" type="video/mp4" size="720">
						<source src="{{movie.download_link}}" type="video/mp4" size="1080">
						<source src="{{movie.download_link}}" type="video/mp4" size="1440">

						<!-- Caption files -->
						<track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
						    default>
						<track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

						<!-- Fallback for browsers that don't support the <video> element -->
						<a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
					</video>
				</div>
				<!-- end player -->

				
			</div>
		</div>
		<!-- end details content -->
	</section>
	<!-- end details -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">Discover</h2>
						<!-- end content title -->

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Comments">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

									<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Reviews</a></li>

									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
								</ul>
							</div>
						</div>
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-8 col-xl-8">
					<!-- content tabs -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
							<div class="row">
								<!-- comments -->
								<div class="col-12">
									<div class="comments">
										{% for  comment in comments  %}
										<ul class="comments__list">
											{% if comment.is_parent and comment.user == request.user %}
											<li class="comments__item">
												<div class="comments__autor">
													<img class="comments__avatar" src="{% if comment.user.profile_picture and comment.user.profile_picture.url %}{{ comment.user.profile_picture.url }}{% else %}{% static 'img/user.png' %}{% endif %}" alt="profile picture">
													<span class="comments__name">{{comment.user}} </span>
													<span class="comments__time">{{comment.created_at}}</span>
												</div>
												<p class="comments__text">{{comment.text}}</p>
												<div class="comments__actions">
													<div class="comments__rate">
														
<button class="like-button{% if user in comment.likes.all %} active{% endif %}" data-comment-id="{{ comment.id }}">
    <span id="like-count-{{ comment.id }}">{{ comment.likes.count }}</span>
    <i class="icon ion-md-thumbs-up"></i>
</button>
<button class="dislike-button{% if user in comment.dislikes.all %} active{% endif %}" data-comment-id="{{ comment.id }}">
    <span id="dislike-count-{{ comment.id }}">{{ comment.dislikes.count }}</span>
    <i class="icon ion-md-thumbs-down"></i>
</button>
													</div>
													<button type="button" class="reply-btn" data-comment-id="{{ comment.id }}">
    <i class="icon ion-ios-share-alt"></i>Reply
</button>

<div class="reply-form-container" id="reply-form-{{ comment.id }}" style="display:none;">
    <form method="POST" class="reply-form" data-parent-id="{{ comment.id }}">
        {% csrf_token %}
        <textarea name="text" class="form__textarea" placeholder="Add a reply"></textarea>
        <button type="submit" class="form__btn">Send</button>
    </form>
													<button type="button"><i class="icon ion-ios-quote"></i>Quote</button>
												</div>
											</li>
											{% else %}
																						<script>
											$(document).ready(function() {
												// Show/hide reply form
												$('.reply-btn').click(function() {
													var commentId = $(this).data('comment-id');
													$('#reply-form-' + commentId).toggle();
												});
											
												// Handle reply form submission
												$('.reply-form').submit(function(e) {
													e.preventDefault();
													var $form = $(this);
													var parentId = $form.data('parent-id');
													var text = $form.find('textarea[name="text"]').val();
													$.ajax({
														url: '/movies/comments/' + parentId + '/reply/',
														type: 'POST',
														data: {
															'csrfmiddlewaretoken': '{{ csrf_token }}',
															'text': text
														},
														success: function(response) {
															// Build the reply HTML
															var replyHtml = `
    <li class="comments__item comments__item--answer">
        <div class="comments__autor">
            <img class="comments__avatar" src="/static/img/user.png" alt="profile picture">
            <span class="comments__name">${response.user}</span>
            <span class="comments__time">${response.created_at}</span>
        </div>
        <p class="comments__text">${response.text}</p>
    </li>`;
															// Append to the replies list after the parent comment
															$form.closest('.comments__item').find('ul').append(replyHtml);
															$form[0].reset();
															$form.parent().hide();
														}
													});
												});
											});
											</script>
											{% endif %}

											{% for reply in comment.replies.all %}
    <li class="comments__item comments__item--answer">
        <div class="comments__autor">
            <img class="comments__avatar" src="{% if reply.user.profile_picture.url %}{{ reply.user.profile_picture.url }}{% else %}{% static 'img/user.png' %}{% endif %}" alt="profile picture">
            <span class="comments__name">{{ reply.user }}</span>
            <span class="comments__time">{{ reply.created_at }}</span>
        </div>
        <p class="comments__text">{{ reply.text }}</p>
    </li>
    {% endfor %}
										
											</ul>
										{% endfor %}
										<form action="{% url 'movies:movie_detail' movie.id %}" method="POST" id="reply" class="form">
											{% csrf_token %}
											<textarea id="text" name="text" class="form__textarea" placeholder="Add comment"></textarea>
											<button type="submit"  class="form__btn">Send</button>
										</form>
									</div>
								</div>
								<!-- end comments -->
							</div>
						</div>

						<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
							<div class="row">
								<!-- reviews -->
										Review	{{reviews}}
								<div class="col-12">
									<div class="reviews">
										<ul class="reviews__list">
											{% for review  in reviews %}
											<li class="reviews__item">
												<div class="reviews__autor">
													<img class="reviews__avatar" src="img/user.png" alt="">
													<span class="reviews__name">{{review.title}}</span>
													<span class="reviews__time">{{ review.created_at|date:"d.m.Y, H:i" }} by {{ review.user.username }}</span>

													<span class="reviews__rating"><i class="icon ion-ios-star"></i>{{ review.rating }}</span>
												</div>
												<p class="reviews__text">{{ review.content }}</p>
											</li>
											{% empty %}
											<li class="reviews__item">
												<p class="reviews__text">No reviews yet. Be the first to leave a review!</p>
											</li>
											{% endfor %}
										</ul>

										{% if user.is_authenticated %}
										<form method="POST" class="form" action="{% url 'movies:movie_detail' movie.id %}">
											{% csrf_token %}
											<input type="text" class="form__input" placeholder="Title" name="title" required>
											<textarea class="form__textarea" placeholder="Review" name="content" required></textarea>
											
											<div class="form__slider">
												<input type="range" min="0" max="10" class="form__input"  step="0.1" id="slider__rating" oninput="document.getElementById('form__slider-value').value=this.value">
											</div>
										
											<button type="submit" class="form__btn">Send</button>
										</form>										
										{% else %}
										<p>You must be <a href="{% url 'users:login' %}">logged in</a> to leave a review.</p>
										{% endif %}
									</div>
								</div>
								<!-- end reviews -->
							</div>
						</div>

						<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
							<!-- project gallery -->
							<div class="gallery" itemscope>
								<div class="row">
									{% for photo  in photos %}
									<!-- gallery item -->
									<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
										<a href="{{photo.image.url }}" itemprop="contentUrl" data-size="1920x1280">
											<img src="{{ photo.image.url }}" itemprop="thumbnail" alt="{{ photo.caption}}" />
										</a>
										<figcaption itemprop="caption description">{{photo.caption}}</figcaption>
									</figure>
									<!-- end gallery item -->
									{% endfor %}
								</div>
							</div>
							<!-- end project gallery -->
						</div>
					</div>
					<!-- end content tabs -->
				</div>

				<!-- sidebar -->
				<div class="col-12 col-lg-4 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--sidebar">You may also like...</h2>
						</div>
						<!-- end section title -->

						{% for suggestion in suggestions %}
						<!-- card -->
						<div class="col-6 col-sm-4 col-lg-6">
							<div class="card">
								<div class="card__cover">
									<img src="{{suggestion.image.url}}" alt="">
									<a href="{% url 'movies:movie_detail' suggestion.id %}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="{% url 'movies:movie_detail' suggestion.id %}">{{suggestion.title}}</a></h3>
									<span class="card__category">
										<a href="{% url 'movies:movie_detail' suggestion.id %}">{{suggestion.genre}}</a>
									</span>
									<span class="card__rate"><i class="icon ion-ios-star"></i>{{suggestion.rating}}</span>
								</div>
							</div>
						</div>
						<!-- end card -->
						 {% endfor %}
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</section>
	<!-- end content -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<!-- footer list -->
				<div class="col-12 col-md-3">
					<h6 class="footer__title">Download Our App</h6>
					<ul class="footer__app">
						<li><a href="#"><img src="img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
						<li><a href="#"><img src="img/google-play-badge.png" alt=""></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Resources</h6>
					<ul class="footer__list">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Pricing Plan</a></li>
						<li><a href="#">Help</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-6 col-sm-4 col-md-3">
					<h6 class="footer__title">Legal</h6>
					<ul class="footer__list">
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Security</a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer list -->
				<div class="col-12 col-sm-4 col-md-3">
					<h6 class="footer__title">Contact</h6>
					<ul class="footer__list">
						<li><a href="tel:+18002345678">+1 (800) 234-5678</a></li>
						<li><a href="mailto:support@moviego.com">support@flixgo.com</a></li>
					</ul>
					<ul class="footer__social">
						<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
						<li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
						<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
						<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>
					</ul>
				</div>
				<!-- end footer list -->

				<!-- footer copyright -->
				<div class="col-12">
					<div class="footer__copyright">
						<small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

						<ul>
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>
				</div>
				<!-- end footer copyright -->
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		<!-- Background of PhotoSwipe. 
		It's a separate element, as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

			<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
			<!-- don't modify these 3 pswp__item elements, data is added later on. -->
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>

			<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
			<div class="pswp__ui pswp__ui--hidden">

				<div class="pswp__top-bar">

					<!--  Controls are self-explanatory. Order can be changed. -->

					<div class="pswp__counter"></div>

					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

					<!-- Preloader -->
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>

				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- JS -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'js/wNumb.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/plyr.min.js' %}"></script>
	<script src="{% static 'js/jquery.morelines.min.js' %}"></script>
	<script src="{% static 'js/photoswipe.min.js' %}"></script>
	<script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}
<script>
$(document).ready(function() {
    // Remove previous handlers and add new one
    $(document).off('click', '.like-button').on('click', '.like-button', function() {
        var $btn = $(this);
        var commentId = $btn.data('comment-id');
        var countSpan = $('#like-count-' + commentId);

        $.ajax({
            url: '/movies/comments/' + commentId + '/like/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                countSpan.text(response.likes);
                if (response.liked) {
                    $btn.addClass('active');
                } else {
                    $btn.removeClass('active');
                }
            }
        });
    });

    $(document).off('click', '.dislike-button').on('click', '.dislike-button', function() {
        var $btn = $(this);
        var commentId = $btn.data('comment-id');
        var countSpan = $('#dislike-count-' + commentId);

        $.ajax({
            url: '/movies/comments/' + commentId + '/dislike/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                countSpan.text(response.dislikes);
                if (response.disliked) {
                    $btn.addClass('active');
                } else {
                    $btn.removeClass('active');
                }
            }
        });
    });
});
</script>
<script>
$(document).ready(function() {
    // Show/hide reply form
    $('.reply-btn').click(function() {
        var commentId = $(this).data('comment-id');
        $('#reply-form-' + commentId).toggle();
    });

    // Handle reply form submission
    $('.reply-form').submit(function(e) {
        e.preventDefault();
        var $form = $(this);
        var parentId = $form.data('parent-id');
        var text = $form.find('textarea[name="text"]').val();
        $.ajax({
            url: '/movies/comments/' + parentId + '/reply/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'text': text
            },
            success: function(response) {
                // Build the reply HTML
                var replyHtml = `
    <li class="comments__item comments__item--answer">
        <div class="comments__autor">
            <img class="comments__avatar" src="/static/img/user.png" alt="profile picture">
            <span class="comments__name">${response.user}</span>
            <span class="comments__time">${response.created_at}</span>
        </div>
        <p class="comments__text">${response.text}</p>
    </li>`;
                // Append to the replies list after the parent comment
                $form.closest('.comments__item').find('ul').append(replyHtml);
                $form[0].reset();
                $form.parent().hide();
            }
        });
    });
});
</script>
