<!-- templates/registration/password_reset_form.html -->
{% extends "base.html" %}
{% load static %}
{% block body %}
<h2>Forgot Password?</h2>
<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
            <!-- registration form -->
            <form action="#"  method="post" class="sign__form">
              {% csrf_token %}
              <a href="/" class="sign__logo">
                <img src="{% static 'img/logo.svg' %}" alt="">
              </a>
<p class="sign__text">Enter your email below, and we'll send you a password reset link.</p>
  
              <div class="sign__group">
                <input type="text" class="sign__input" name="email" id="email" placeholder="Enter Email">
              </div>
              <button class="sign__btn" type="submit">Change Password</button>
              <span class="sign__text">Don't have an account? <a href="{% url "users:login" %}">Sign up!</a></span>
              <span class="sign__text"><a href="{% url "users:login" %}">Sign In?</a></span>
            </form>
            <!-- registration form -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
